.checkout-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: #ecf0f3;
}

.checkout-form form{
  padding:20px;
  width:700px;
  background: #c8cbce5e;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.signature{
  margin-top: 30px;
  margin-left: 30px;
  color: gray;
  margin-bottom: 30px;
  text-decoration: overline;
}